.idea/
*.log
*.map

node_modules/

.sass-cache/
.tmp
reports
phantomjsdriver.log
jspm_packages
public/assets/*
log/*
public/assets/*
*.sublime-*
public/static/*

#!public/static/favicon_files
#!public/static/img
public/static/css